<mat-tab-group class="product_page">
  <mat-tab label="Магазин">
    <mat-card class="m-30">
      <button color="primary" *ngIf="isEmployee" mat-raised-button (click)="addProduct()">Добавить товар</button>
      <div class="grid_card" [formGroup]="form">
        <ng-container formArrayName="products">
          <ng-container *ngFor="let lessonForm of products.controls; let i = index">
            <mat-card class="card">
              <mat-card-title> {{lessonForm.value.name}}</mat-card-title>
              <mat-card-subtitle class="mt-10">Принадлежит: {{lessonForm.value.owner}}</mat-card-subtitle>
              <mat-card-subtitle class="mt-10">Находится в : {{lessonForm.value.timeCurrent * 100}}году
              </mat-card-subtitle>
              <mat-card-content>
                <p> Описание: {{ lessonForm.value.description }}</p>
              </mat-card-content>
              <mat-divider inset></mat-divider>
              <mat-card-actions>
                <button mat-button *ngIf="!isEmployee" (click)="addToBasket(i, lessonForm.value)">Добавить в корзину
                </button>
              </mat-card-actions>
              <mat-card-footer>
                <mat-progress-bar mode="determinate"></mat-progress-bar>
              </mat-card-footer>
            </mat-card>
          </ng-container>
        </ng-container>
      </div>
    </mat-card>
  </mat-tab>
  <mat-tab *ngIf="!isEmployee" label="Корзина" (click)="toggleBadgeVisibility()">
    <mat-card class="m-30">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th class="name_td" mat-header-cell *matHeaderCellDef> Название</th>
          <td class="name_td" mat-cell *matCellDef="let product"> {{product.name}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th class="name_td" mat-header-cell *matHeaderCellDef> Описание</th>
          <td class="name_td" mat-cell *matCellDef="let product"> {{product.description}} </td>
        </ng-container>
        <ng-container matColumnDef="owner">
          <th class="name_td" mat-header-cell *matHeaderCellDef> Владелец</th>
          <td class="name_td" mat-cell *matCellDef="let product"> {{product.owner}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th class="name_td" mat-header-cell *matHeaderCellDef></th>
          <td class="name_td" mat-cell *matCellDef="let product">
            <mat-icon>
              restore_from_trash
            </mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row sticky-state *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <button color="primary" class="mt-10" mat-raised-button>Оформить заказ</button>
    </mat-card>
  </mat-tab>
</mat-tab-group>
