::ng-deep table{
  width: 100%;
  word-wrap: break-word;
}
::ng-deep.yearInput{
  margin-left: 10px;
  font-size: 12px;
  .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0 !important;}
  .mat-form-field-label-wrapper { top: -1.5em; }
  .mat-form-field-infix {
    width: 80px;
  }
  &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 80px;
  }
}

.spacer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.num_td{
  width: 10%;
}

.mid_td{
  width: 15%;
}
::ng-deep.last_th{
  text-align: center;
}
