.event_page{
  min-height: 90vh;
}

table{
  width: 100%;
  word-break: break-all;
}

.description_td{
  width: 60%;
  padding-right: 10px;
}
.name_td{
  width: 20%;
  padding-right: 10px;
}

.table_container{
  margin: 20px 10px 10px 10px;
  table{
    border-radius: 5px;
  }
}

