::ng-deep.login_page {
  height: 100vh;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  background: #1f1826 url(../../assets/images/cosmos.png) no-repeat;
  background-size: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}

h1{
  align-self: center;
  justify-self: center;
  color: white;
  font-size: 80px;
  font-family: "Raleway Light", serif;
}
::ng-deep.login_block {
  align-self: center;
  justify-self: center;
  min-width: 320px ;
  max-height: 500px ;
  height: 80vh;
  padding: 50px;
  //background: rgba(255, 255, 255, 0.7);
  background: white;
  box-shadow: 0 0 80px rgba(31, 31, 31, 0.92);
  border-radius: 20px ;
}

